<ion-view title="Initial" class="all-bg" cache-view="false">
    <ion-content scroll="false">
    <div class="content-wrapper">
    	
	 	<div class="detectcube-btn-wrapper">
	 		<button class="btn button button-outline button-light detectcube-btn" ng-click="go('/detector')">
	 			<div class="row">
                <div class="col col-25"> <p class="text-icon-btn icon-left ion-cube"></p></div>
               
                <div class="col col-75 text-btn">Detect the Cube</div>
              </div>
	 		</button>
	 	</div>
	 	<div class="version-wrapper">
	 		version 1.1
	 	</div>
	 	<div class="detect-page-help">
	 		help?
	 	</div>
 	</div>
 
    </ion-content>
</ion-view>